In [46]:
import numpy as np
import pandas as pd

In [47]:
df=pd.read_csv("/Users/gauravjangid/Desktop/Data Science/data set/fashion_products.csv")

In [48]:
df.head(2)

,User ID,Product ID,Product Name,Brand,Category,Price,Rating,Color,Size
0,19,1,Dress,Adidas,Men's Fashion,40,1.043159,Black,XL
1,97,2,Shoes,H&M,Women's Fashion,82,4.026416,Black,L

In [49]:
df.isnull().sum()

User ID         0
Product ID      0
Product Name    0
Brand           0
Category        0
Price           0
Rating          0
Color           0
Size            0
dtype: int64

In [50]:
from sklearn.preprocessing import LabelEncoder

In [51]:
lb=LabelEncoder()
df['Product Name']=lb.fit_transform(df['Product Name'])
df['Brand']=lb.fit_transform(df['Brand'])
df['Category']=lb.fit_transform(df['Category'])
df['Color']=lb.fit_transform(df['Color'])
df['Size']=lb.fit_transform(df['Size'])

In [52]:
df.head()

,User ID,Product ID,Product Name,Brand,Category,Price,Rating,Color,Size
0,19,1,0,0,1,40,1.043159,0,3
1,97,2,2,2,2,82,4.026416,0,0
2,25,3,0,0,2,44,3.337938,5,3
3,57,4,2,4,1,23,1.049523,4,2
4,79,5,4,0,1,79,4.302773,0,1

In [53]:
df.describe()

,User ID,Product ID,Product Name,Brand,Category,Price,Rating,Color,Size
count,1000.00000,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.00000,1000.000000
mean,50.41900,500.500000,1.989000,2.033000,0.97600,55.785000,2.993135,2.58100,1.506000
std,28.78131,288.819436,1.382313,1.417717,0.82347,26.291748,1.153185,1.71767,1.123043
min,1.00000,1.000000,0.000000,0.000000,0.00000,10.000000,1.000967,0.00000,0.000000
25%,26.00000,250.750000,1.000000,1.000000,0.00000,33.000000,1.992786,1.00000,0.000000
50%,50.00000,500.500000,2.000000,2.000000,1.00000,57.000000,2.984003,3.00000,2.000000
75%,75.00000,750.250000,3.000000,3.000000,2.00000,78.250000,3.985084,4.00000,3.000000
max,100.00000,1000.000000,4.000000,4.000000,2.00000,100.000000,4.987964,5.00000,3.000000

In [54]:
from sklearn.model_selection import train_test_split

x=df.drop(columns=['Price'])
y=df["Price"]

In [55]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [56]:
from sklearn.linear_model import LinearRegression

In [57]:
lr=LinearRegression()

In [58]:
lr.fit(x_train,y_train)

LinearRegression()

In [59]:
y_pred=lr.predict(x_test)

In [60]:
from sklearn.metrics import r2_score
r2_score(y_test,y_pred)

-0.009889857447256123

In [63]:
from sklearn.model_selection import RandomizedSearchCV
model = LinearRegression()

param_space = {'copy_X': [True,False], 
               'fit_intercept': [True,False], 
               'n_jobs': [1,5,10,15,None], 
               'positive': [True,False]}

random_search = RandomizedSearchCV(model, param_space, n_iter=100, cv=5)
random_search.fit(x_train, y_train)

# Parameter which gives the best results
print(f"Best Hyperparameters: {random_search.best_params_}")

# Accuracy of the model after using best parameters
print(f"Best Score: {random_search.best_score_}")

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/model_selection/_search.py:305: UserWarning: The total space of parameters 40 is smaller than n_iter=100. Running 40 iterations. For exhaustive searches, use GridSearchCV.
  warnings.warn(

Best Hyperparameters: {'positive': True, 'n_jobs': 1, 'fit_intercept': True, 'copy_X': True}
Best Score: -0.011642341344828156

In [ ]:
#ridge lasso elastic net regularization technique